<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>블로그 글</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <style>
        .hover-primary:hover {
            color: #007bff;
            cursor: pointer;
        }
    </style>
    <input type="hidden" id="current-author" th:value="${currentUser}">
</head>
<body>
    <div class="p-5 mb-5 text-center bg-light">
        <h1 id="blogTitle" class="mb-3 hover-primary">담벼락</h1>
        <h4 class="mb-3">끄적끄적</h4>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <div class="d-flex justify-content-end mb-4">
                    <button type="button" th:onclick="|location.href='@{/new-article?id={articleId}(articleId=${article.id})}'|" class="btn btn-primary btn-sm">수정</button>
                    <button type="button" id="delete-btn" class="btn btn-secondary btn-sm ml-1">삭제</button>
                </div>
                <input type="hidden" id="article-id" th:value="${article.id}">
                <div id="successAlert" class="alert alert-success" style="display:none;"></div>
                <article>
                   <header class="mb-4">
                       <h1 class="fw-bolder mb-1" th:text="${article.title}"></h1>
                       <div class="text-muted fst-italic mb-2" th:text="|Posted on ${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')} By ${article.author}|"></div>
                   </header>
                    <section class="mb-5">
                        <p class="fs-5 mb-4" th:text="${article.content}"></p>
                    </section>
                </article>
                <hr class="mt-5">
                <section class="mb-5 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">댓글</h5>
                            <div class="mb-3">
                                <textarea id="content" class="form-control" rows="3"></textarea>
                            </div>
<!--                            <button type="button" id="cancel-btn" class="btn btn-secondary btn-sm ml-1">취소</button>-->
                            <button type="button" id="comment-create-btn" class="btn btn-primary btn-sm ml-1">등록</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("blogTitle").addEventListener("click", function() {
            window.location.href = "/articles";
        });
    </script>
    <script src="/js/article.js"></script>
</body>
</html>